Wrong URI parsing if no path and query string is present (wss://host?query)


The URI parser extracts the host part until a `/` or `:` is found, but if the url does not contain a path or port but it does have a query string, then the host part is parsed incorrectly and the query string is appended to the host part. That makes the connection to fail

https://github.com/zaphoyd/websocketpp/blob/master/websocketpp/uri.hpp#L127

for example `wss://host?query` will fail but `wss://host/?query` will work.

According to https://tools.ietf.org/html/rfc6455 the wss path can be empty

```
 This specification defines two URI schemes, using the ABNF syntax
   defined in RFC 5234 [RFC5234], and terminology and ABNF productions
   defined by the URI specification RFC 3986 [RFC3986].

          ws-URI = "ws:" "//" host [ ":" port ] path [ "?" query ]
          wss-URI = "wss:" "//" host [ ":" port ] path [ "?" query ]

          host = <host, defined in [RFC3986], Section 3.2.2>
          port = <port, defined in [RFC3986], Section 3.2.3>
          path = <path-abempty, defined in [RFC3986], Section 3.3>
          query = <query, defined in [RFC3986], Section 3.4>

   The port component is OPTIONAL; the default for "ws" is port 80,
   while the default for "wss" is port 443.

   The URI is called "secure" (and it is said that "the secure flag is
   set") if the scheme component matches "wss" case-insensitively.

   The "resource-name" (also known as /resource name/ in Section 4.1)
   can be constructed by concatenating the following:

   o  "/" if the path component is empty

```

in rfc 3986:

```
      path          = path-abempty    ; begins with "/" or is empty
                    / path-absolute   ; begins with "/" but not "//"
                    / path-noscheme   ; begins with a non-colon segment
                    / path-rootless   ; begins with a segment
                    / path-empty      ; zero characters

      path-abempty  = *( "/" segment )
      path-absolute = "/" [ segment-nz *( "/" segment ) ]
      path-noscheme = segment-nz-nc *( "/" segment )
      path-rootless = segment-nz *( "/" segment )
      path-empty    = 0<pchar>

```

Same problem here.

_[2022-03-31 19:16:28] [application] Connecting to wss://fstream.binance.com/ws/btcusdt
[2022-03-31 19:16:29] [connect] Successful connection
[2022-03-31 19:16:29] [error] handle_transport_init received error: TLS handshake failed
[2022-03-31 19:16:29] [fail] WebSocket Connection 35.77.136.106:443 - "" /ws/btcusdt 0 websocketpp.transport.asio.socket:8 TLS handshake failed
[2022-03-31 19:16:29] [info] asio async_shutdown error: asio.ssl:336462231 (shutdown while in init)_

I have encountered the same problem. This is my solution.
` else {
            // IPv4 or hostname
            // extract until : or / or ?
            while (state == 0) {
                if (it == uri_string.end()) {
                    state = 2;
                    break;
                } else if (*it == '/') {
                    state = 2;
                } else if (*it == '?') {
                    // query string without path, treat as end of host
                    state = 2;
                    // don't increment it, so '?' will be included in resource
                    break;
                } else if (*it == ':') {
                    // end hostname start port
                    state = 1;
                } else {
                    m_host += *it;
                }
                ++it;
            }
        }

        // parse port
        std::string port;
        while (state == 1) {
            if (it == uri_string.end()) {
                // state is not used after this point presently.
                // this should be re-enabled if it ever is needed in a future
                // refactoring
                //state = 3;
                break;
            } else if (*it == '/') {
                state = 3;
            } else if (*it == '?') {
                // query string without path, end port parsing
                state = 3;
                // don't increment it, so '?' will be included in resource
                break;
            } else {
                port += *it;
            }
            ++it;
        }`
